body{
  background: #3dbaf4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient( #3dbaf4, #ff93cb);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#3dbaf4, #ff93cb);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
}

#game{
  margin-top: 2%;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 1%;
  font-family: 'Montserrat', sans-serif;
  color: #fffb8f;
}

button{
  outline: none;
  letter-spacing: 2px;
  font-family: 'Montserrat',  sans-serif;
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;

  }

  button:hover {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 60px rgba(247, 247, 247, 0.493);
  color: black;
  background-color: lightblue;
  }
  button:active {
    transform: scale(1.02);
    background-color: lightblue;
  }

#board {
  margin: 0 auto 1%;
}

/* game board table */
#board td {
  width: 5em;
  height: 5em;
  border: solid 1px lightgray;
}

/* pieces are div within game table cells: draw as colored circles */

.piece{
  border: lightcyan 2px solid;
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    animation: 3s linear 1s slidein;
    position: relative;
    animation: drop 1s 1;
}

@keyframes drop {
  0% {
     transform: translateY(-500px);
  }
  100% {
     transform: translateY(0px);
  }
}

.piece.one {
  background-color: rgb(91, 91, 255);
  
}
.piece.two {
  background-color: rgb(255, 86, 86);
}

/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px white;
  position: relative;
  background-color: #fffb8f6c;
  animation: glow 1.5s infinite;
}


@keyframes glow {
  0% {opacity: 0.5}

  50% {opacity: 0.8}

  100% {opacity: 0.5}
}


#column-top td:hover {
  background-color: #fffa75da;
}
