#game{
  margin-top: 6%;
}

h1 {
  text-align: center;
}
#board {
  margin: 0 auto 5%;
}

/* game board table */
#board td {
  width: 5em;
  height: 5em;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece.p1 {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: blue;
  top: 0;
}
.piece.p2 {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: red;
}

/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px lightgray;
  
}


#column-top td:hover {
  background-color: gold;
}
